/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

/* ----- Fuente ----- */


/* ----- Variables ----- */
:root{
    /* ### Colores primarios */
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

/* ### Colores neutrales */
--Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
--Very-light-gray-bg-headings-buttons: hsl(0, 0%, 95%);
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body{
    background-color: var(--Very-light-gray-bg-headings-buttons);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 20px;
}

.cards{
    display:grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    overflow: hidden;
    max-width: 1024px;
    box-shadow: 0px 0px 20px -10px var(--Very-dark-cyan);
}

[class^="card-"] {
    padding: 20px;
}

.card-1{
    background-color: var(--Bright-orange);
}

.card-2{
    background-color: var(--Dark-cyan);
}

.card-3{
    background-color: var(--Very-dark-cyan);
}

h2{
    font-family: 'Big Shoulders Display',Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--Very-light-gray-bg-headings-buttons);
}

p{
    font-family: 'Lexend Deca',Arial, Helvetica, sans-serif;
    line-height:1.5;
    color: var(--Transparent-white-paragraphs);
    font-size: 1rem;
    padding-bottom: 20px;
}

button{
    font-family: 'Lexend Deca',Arial, Helvetica, sans-serif;
    border: none;
    border-radius:20px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 0px 20px -10px var(--Very-dark-cyan);
    font-weight: 400;
    border: 2px solid var(--Very-light-gray-bg-headings-buttons);
    transition: all ease-in-out .5s;
}

.card-1 button{
    color: var(--Bright-orange);
}

.card-2 button{
    color: var(--Dark-cyan);
}

.card-3 button{
    color: var(--Very-dark-cyan);
}

button:hover{
    background-color: transparent;
    border: 2px solid var(--Very-light-gray-bg-headings-buttons);
    color: var(--Very-light-gray-bg-headings-buttons) ;
}

/* Media */
@media (min-width:1024px) {
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
    p{
        padding-bottom: 60px;
        line-height: 2rem;
        width: 75%;
    }

    button{
       margin-bottom: 40px;
    }

}