/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

/* ----- Fuente ----- */

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

/* ----- Variables ----- */
:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  --White: #fff;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body {
  font-family: "Libre Franklin", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--White);
}

img {
  height: 100%;
  width: 90%;
}

.logo {
  width: 80px;
  margin-bottom: 50px;
}

/* -----------Texts------------------ */

.heading {
  font-size: 2rem;
  font-weight: 500;
  color: var(--Gray);
  margin-bottom: 20px;
}
.heading span {
  font-weight: 700;
  color: var(--Very-Dark-Blue);
}
.sub-heading {
  font-size: 0.95rem;
  color: var(--Very-Dark-Blue);
  margin-bottom: 30px;
}

/* -----------Form------------------ */
form {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  position: relative;
}
form.error input[type="email"] {
  border-color: var(--Light-Red);
  margin-bottom: 30px;
}
form .error_text {
  position: absolute;
  top: 70px;
  font-size: 0.95rem;
  margin-top: 10px;
  color: var(--Light-Red);
  font-weight: 500;
  font-style: italic;
}
form input[type="email"] {
  height: 50px;
  width: 100%;
  border-radius: 50px;
  padding-left: 20px;
  border: 2px solid var(--Pale-Blue);
  font-size: 1rem;
  color: black;
  outline: none;
}
form input[type="email"]::placeholder {
  color: var(--Pale-Blue);
  font-family: "Libre Franklin", sans-serif;
}

form button[type="submit"] {
  background-color: var(--Blue);
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  color: white;
  font-size: 1rem;
  font-family: "Libre Franklin", sans-serif;
  letter-spacing: 1.1px;
  box-shadow: 0px 0px 20px hsla(223, 87%, 63%, 0.32);
  cursor: pointer;
  transition: all ease .5s;

}

form button:hover{
  opacity: .7;
}

/* -----------Icons------------------ */


.icons {
  margin-top: 100px;
  margin-bottom: 50px;

}

.icons a{
  border-radius: 50%;
  padding: 5px 8px;
  background-color: var(--White);
  border:1px solid var(--Pale-Blue);
  transition: all ease .5s;
}

.icons a:hover{
  background-color: var(--Blue) ;
}

.fa-brands{
  color: var(--Blue);
  font-size: 14px;
  transition: all ease .5s;
}

.fa-brands:hover{
  color: var(--White);
}
/* -----------Copy------------------ */

.copyright {
  font-size: 0.8rem;
  margin: 15px 0px;
  color: var(--Gray);
}

/* Media */
@media only screen and (min-width: 768px) {
  form {
    flex-direction: row;
    max-width: 700px;
    margin-bottom: 50px;
  }
  form button[type="submit"] {
    margin: 0;
    width: 40%;
    margin-left: 20px;
  }
  form.error input[type="email"] {
    margin-bottom: 0;
  }
  form .error_text {
    left: 30px;
  }
  .hero-img {
    max-width: 700px;
    margin: 0 auto;
  }
}
