/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

/* ----- Fuente ----- */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

/* ----- Variables ----- */
:root {
  /* ### Colores primarios */
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --white: #fff;
  /* ### Tipografia
- Font size: 13px

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 500, 700 */
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body {
  font-family: "Manrope", sans-serif;
  background: var(--Light-Grayish-Blue);
  font-size: 13px;
  font-weight: 500;
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 2.4rem;
}

main{
  display: grid;
  background-color: var(--white);
  border-radius: 1rem;
  max-width: 35rem;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, .03);
}

.hero{
  background-image: url(../images/drawers.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 20rem;
  max-height: 28rem;
  margin-bottom: 3.6rem;
  border-radius: 1rem 1rem 0 0;
}

.article{
  padding: 0 3.2rem;
}

.article h1{
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--Very-Dark-Grayish-Blue);
  margin-bottom: 1.2rem;
  text-align: justify;
}

.article p{
  line-height: 2.5rem;
  color: var(--Grayish-Blue);
  font-size: 1.6rem;
}

.footer{
  padding: 3.2rem 3.2rem 2rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer .writer{
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.footer .writer img{
  border-radius: 50%;
  width: 100px;
}

.footer .writer span{

}