/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

/* ----- Variables ----- */
:root {
  /* ### Colores primarios */
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  /* ### Colores neutrales */
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
html{
    min-width: 375px;
    max-width: 1440px;
    margin: auto;
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

main{
    width: 90%;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.computer, .devices{
    width: 100%;

}