/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----- Variables ----- */
:root{
    /* ### Colores primarios */
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/* ### Colores neutrales */
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);

/* ### Tipografia
--Font size: 15px
--Family: [Poppins](https://fonts.google.com/specimen/Poppins)
--Weights: 200, 400, 600 */
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}