/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

/* ----- Fuente ----- */

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,800;1,800&display=swap');

/* ----- Variables ----- */
*{
    /* primarios */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* gradientes */
    --Light-slate-blue-bg: hsl(252, 100%, 67%);
    --Light-royal-blue-bg: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    /* neutrales */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    font-family: 'Hanken Grotesk', sans-serif;
    
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
}

.container{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--White);
    box-shadow: 5px 5px 60px -40px var(--Light-royal-blue-bg);
    border-radius: 0px 20px 20px 0px;
}

/* CARD IZQUIERDA */
.card_izquierda{
    width: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 20px;
    background-image: linear-gradient(var(--Light-slate-blue-bg),var(--Light-royal-blue-bg));
    overflow: hidden;
    color: var(--Pale-blue);
}

.card_title{
    color: var(--Pale-blue);
    font-size: 1.1rem;
    padding: 5px 0px;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius:50%;
    background-image: linear-gradient(var(--Violet-blue-circle),var(--Persian-blue-circle));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.porcentaje{
    font-size: 4rem;
    color: var(--White);
}

.off100{
    font-size:.8rem;
    color:var(--Light-lavender);
}

.card_text{
    text-align: center;
    font-size: .7rem;
    width: 220px;
    color: var(--Light-lavender);
    line-height: 1.5;
    padding-bottom: 10px;
    letter-spacing: 3px;
    margin-top: -5px;
}
/* CARD DERECHA */
.card_derecha{
    width: 50%;
    display: flex;
    flex-direction:column;
    gap: 1rem;
    background-color: var(--White);
    color: var(--Pale-blue);
    padding: 1rem;
}

.card_title_summary{
    font-size: 1.3rem;
    color: var(--Dark-gray-blue);
    margin: 0;
}

.container_result{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}



.rectangulo{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 1;
    padding: 1rem;
    font-size: .8rem;
    /* background-color: #FFEEEE; */
}

.rectangulo_item{
    z-index: 100;

}

.rectangulo:nth-child(1){
    background-color: #FFEEEE;
    color: var(--Light-red);
}
.rectangulo:nth-child(2){
    background-color: #FFFBF2;
    color: var(--Orangey-yellow);
}
.rectangulo:nth-child(3){
    background-color: #F2FBFA;
    color: var(--Green-teal);
}
.rectangulo:nth-child(4){
    background-color: #F3F3FD;
    color: var(--Cobalt-blue);
}


.rectangulo_datos{
    color: var(--Dark-gray-blue);
    font-weight: bold;
}

.rectangulo_datos span{
    opacity: 50%;
}

.button{
    width: 100%;
    border-radius: 20px;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    padding: .5rem;
    transition:all ease .5s;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: var(--Light-red);
    color: var(--White);
}

/* media queries */

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card_izquierda,
    .card_derecha {
        width: 100%;
    }
}