/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

/* ----- Fuente ----- */

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,800;1,800&display=swap');

/* ----- Variables ----- */
*{
    /* primarios */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* gradientes */
    --Light-slate-blue-bg: hsl(252, 100%, 67%);
    --Light-royal-blue-bg: hsl(241, 81%, 54%);
    
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    /* neutrales */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    font-family: 'Hanken Grotesk', sans-serif;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--White);
}

.card_izquierda{
    width: 320px;
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 20px;
    background-image: linear-gradient(var(--Light-slate-blue-bg),var(--Light-royal-blue-bg));
    overflow: hidden;
    color: var(--Pale-blue);

}

.card_title{
    color: var(--Pale-blue);
    font-size: 1.1rem;
    padding: 5px 0px;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius:50%;
    background-image: linear-gradient(var(--Violet-blue-circle),var(--Persian-blue-circle));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.porcentaje{
    font-size: 4rem;
    color: var(--White);
}

.off100{
    font-size:.8rem;
    color:var(--Light-lavender);
}

.card_text{
    text-align: center;
    font-size: .7rem;
    width: 220px;
    color: var(--Light-lavender);
    line-height: 1.5;
    padding-bottom: 10px;
    letter-spacing: 3px;
    margin-top: -5px;
}