/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,800;1,800&display=swap');


/* ----- Fuente ----- */



/* ----- Variables ----- */



/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
@media (max-width: 768px)
main {
    width: 100%;
    padding: 2rem;
    overflow: auto;
    justify-content: center;
    align-items: flex-start;
    transition: all 1s ease-out;
}