/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* ----- Variables ----- */
root{
    /* Colores primarios */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    
    /* Colores neutrales */
    --Very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --Very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --Very-dark-blue: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    
    /* Tipografía */

}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body{
    font-family: "Outfit", sans-serif;;
}

.container {
    height: 100vh;
    background-color: var(--Very-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: var(--Very-dark-blue-card-bg);
    /* border-style: dashed; */
    width: 300px;
    border-radius: 20px;
    text-align: center;
}

.card img{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

h1{
    font-weight: bold;
}