/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* ----- Fuente ----- */
*{
    list-style: none;
    text-decoration: none;

}

/* ----- Variables ----- */

:root{
    /* Colores primarios */
    --Very-dark-blue-mainbg: hsl(233, 47%, 7%);
    --Dark-desaturated-blue-cardbg: hsl(244, 38%, 16%);
    --Soft-violet-accent: hsl(277, 64%, 61%);

/* Colores neutrales */
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white-parag: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-headings: hsla(0, 0%, 100%, 0.6);
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body{
    font-size: 15px;
    font-family:'Inter',sans-serif;
    background-color:var(--Very-dark-blue-mainbg);
    color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    /* max-width: 60%; */
    width: 100%;
    
    background-color: var(--Dark-desaturated-blue-cardbg);
    border-radius: 10px;
    overflow: hidden;
    transition: all ease .5s;
    
}

.container:hover{
    cursor: pointer;
    box-shadow: 1px 1px 35px -5px rgb(176, 176, 63);
}

.card_image_container{
    width: auto;
    height: 247px;
    border-radius: 10px;

}

.card_img{
    background-image: url(../images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    height: 100%;

}

.image_overlay{
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* z-index: 100; */
    opacity: .6;
    background-color: var(--Soft-violet-accent);
}

.card_text_container{
    text-align: center;
    padding: 15px;
}

.card_text_header{
    font-size: .8rem;
}

.insights{
    color: var(--Soft-violet-accent);
}

.text{
    line-height: 1.5;
    color: var(--Slightly-transparent-white-parag);
    padding-bottom: 20px;
}

.stats_item{
    font-size: 1.3rem;
    font-weight: 700;
    padding: 5px;
}

.stats_item span{
    font-weight: 300;
    font-size: 1rem;
    color: var(--Slightly-transparent-white-parag);
    font-family: 'Lexend Deca';
}

@media only screen and (min-width:750px) {
    .container{
        display:flex;
        flex-direction:row-reverse;
        max-width: 60%
    }
    .card_image_container{
        height: 460px;
        width: 100%;
        
    }
    .card_image{
        background-size: 100%;
        background-image: url(../images/image-header-desktop.jpg) no-repeat center center;

    }
    .card_text_container{
        text-align: left;
        padding:50px 65px;
        
    }
    .card_text_header h1{
        font-size: 2rem;
        line-height: 1.2;
    }
    .text{
        width: 90%;
        font-size: .9rem;
        line-height: 2;
        padding-top: 10px;
    }
    .card_stats{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        width: 90%;
    }
    .stats_item span{
        font-size: .9rem;
    }
}