/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

/* ----- Fuente ----- */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
/* ----- Variables ----- */
:root {
  /* ### Colores primarios */
--Nutmeg: hsl(14, 45%, 36%);
--Dark-Raspberry: hsl(332, 51%, 32%);

/* ### Colores neutrales */
--White: hsl(0, 0%, 100%);
--Rose-White: hsl(330, 100%, 98%);
--Eggshell: hsl(30, 54%, 90%);
--Light-Grey: hsl(30, 18%, 87%);
--Wenge-Brown: hsl(30, 10%, 34%);
--Dark-Charcoal: hsl(24, 5%, 18%);

/* ### Tipografia
- Font size (paragraph): 16px

- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Eggshell);
  font-family: "Young Serif", sans-serif;
}

.container {
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  box-shadow: 0px 0px 10px -8px var(--Dark-Charcoal);
}

/* CARD IMAGE */
.card_img{
  width: 375px;
  height: 250px;
  background-image: url(../images/image-omelette.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}


/* CARD TITLE */
.card_title{
  /* padding: 0px 30px; */
  width: 85%;
}
h1,h2{
  font-family: "Young Serif", sans-serif;
  font-weight: 400;
  color: var(--Nutmeg);
}

h1{
  font-size: 35px;
  color: var(--Dark-Charcoal);
  margin-top: 45px;
}

p{
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color:var(--Wenge-Brown);
  line-height: 1.5;
}

/* CARD PREPARATION */

.card_preparation{
  margin-top: 20px;
  width: 75%;
  text-align: left;
  background-color: var(--Rose-White);
  padding: 10px 20px;
  border-radius: 15px;
  line-height: 1.3;
  font-family: 'Outfit', sans-serif;
}

h3{
  font-size: 20px;
  font-weight: 700;
  color: var(--Dark-Raspberry);
}

ul{
  padding-inline-start: 30px;
}

li{
  padding-block: 5px;  
  padding-left: 15px;
  font-size: 18px;
  color: var(--Wenge-Brown);
  font-weight: 400;
}

/* centra el texto de las listas respecto al <li> solo cuando hay
dos lineas de texto  */
li>div{
  display: inline-block;
  vertical-align: middle;
}

/* CARD INGREDIENTS */

.card_ingredients{
  margin: 20px 0px;
  width: 85%;
  text-align: left;
  background-color: var(--White);
  padding: 10px 20px;
  border-radius: 15px;
  line-height: 1.3;
  font-family: 'Outfit', sans-serif;
}

h2{
  font-size: 30px;
  margin-bottom: -5px;
}

/* divisor */
hr{
  width: 85%;  
  border:1px solid var(--Light-Grey);
  margin: 20px 0px,
}


/* CARD INSTRUCTIONS */

.card_instructions{
  width: 85%;
  text-align: left;
  background-color: var(--White);
  padding: 10px 20px;
  border-radius: 15px;
  line-height: 1.5;
  font-family: 'Outfit', sans-serif;
}

.list li::marker{
  font-weight: 700;
}

.list{
  padding-inline-start: 22px;
}

.list li{
  font-size: 16px;
}

/* CARD NUTRITION */
.card_nutrition{
  width: 85%;
  text-align: left;
  background-color: var(--White);
  padding: 10px 20px;
  border-radius: 15px;
  line-height: 1.5;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 20px;
}

table{
  border-collapse: collapse;
  width: 100%;
}

table td{
  color: var(--Wenge-Brown);
  font-weight: 600;
  padding: 15px 30px;
}

table tr{
  border-bottom: 1px solid var(--Light-Grey);
}

table tr:last-of-type{
  border-bottom: none;
}

td>strong{
  color: var(--Nutmeg);
}



/* Media Queries */
@media only screen and (min-width: 768px){
  .container{
    width: 650px;  
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
    padding: 30px;
  }

  .card_img{
    width: 100%;
    height: 320px;
    border-radius: 10px;
  }

  .card_title, .card_ingredients, .card_instructions, .card_nutrition{
    width: 100%;
    padding: 0px;
  }

  .card_preparation{
    width: 95%;
  }

  hr{
    width: 100%;
  }
  
}