/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

/* ----- Fuente ----- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ----- Variables ----- */
:root {
  --Red: #ff7a7a;
  --Green: #38cc8c;
  --Blue: #6055a5;
  --Dark-Blue: #3e3c49;
  --Grayish-Blue: #b9b6d3;
  --White: #fff;
  --BoxShadow: 0px 0.45em 0px 0px #df6d6d;
  /* ### Tipografia
### Body
- Font size: 16px

### Font
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700 */
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body {
  background: url("../images/bg-intro-mobile.png"), var(--Red);
  background-position: center;
  background-repeat: repeat;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 100vh;
  max-width: min(100vw, 600px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

/* ------------Main----------------- */

.content {
  color: var(--White);
  text-align: center;
  padding: 1em;
}
.content h1 {
  line-height: 1.25em;
}

.content p {
  line-height: 1.7em;
}

/* ------------SignUp----------------- */

.signup {
  padding: 1em;
  text-align: center;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  flex-wrap: nowrap;
}

.signup__pricing,
.signup__form {
  border-radius: 8px;
}

.signup__pricing {
  box-shadow: var(--BoxShadow);
  background-color: var(--Blue);
  padding: 0.5em;
  text-align: inherit;
  color: var(--White);
  font-size: 0.8em;
  cursor: pointer;
  transition: all ease .5s;
}

.signup__pricing:hover{
  filter: brightness(1.2); 
}

.signup__form {
  box-shadow: var(--BoxShadow);
  background-color: var(--White);
  padding: 1.5em;
  position: relative;
}
.signup__form input {
  width: 90%;
  height: 3em;
  padding: 0 1em;
  margin-top: 0.9em;
  font-family: inherit;
  font-weight: bolder;
}
.signup__form input:not([type="submit"]) {
  border: 1px solid #e4e2e2;
  border-radius: 4px;
}
.signup__form input + span.error-icon {
  position: absolute;
  right: 2.5em;
  padding-top: 1.25em;
}
.signup__form input + span.error-icon img {
  height: 1em;
  width: 1em;
}
.signup__form input ~ span.error-message {
  position: relative;
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 0;
  color: var(--Red);
  font-size: 0.65em;
  font-style: italic;
  font-weight: 500;
}
.signup__form input.error {
  border: 2px solid var(--Red);
}

/* ------------Inputs----------------- */

input[type="submit"] {
  box-shadow: 0px 0.3em 0px 0px var(--Green);
  border: none;
  border-radius: 4px;
  background-color: var(--Green);
  text-transform: uppercase;
  color: var(--White);
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 6px;
  cursor: pointer;
  transition: all ease 0.5s;
}

input[type="submit"]:hover {
  box-shadow: 0px 0.3em 0px 0px var(--Green);
  background-color: #44e49f;
}

::placeholder {
    color: var(--Dark-Blue);
    font-size: .8rem;
    opacity: .7;
}

/* ------------Terms----------------- */
.terms-notice {
  display: block;
  margin-top: 1em;
  padding: 0.5em;
  font-size: 0.6em;
  color: var(--Grayish-Blue);
}
.terms-notice span {
  color: var(--Red);
  font-weight: bolder;
}

/* Media */

@media (min-width: 768px) {
  body {
    background: url(../images/bg-intro-desktop.png), #ff7a7a;
    background-position: center;
    background-repeat: no-repeat;
  }

  main {
    max-width: min(90vw, 1000px);
    flex-direction: row;
    gap: 1em;
  }
  main > * {
    width: 50%;
  }

  .content {
    text-align: left;
    padding: 1.5em;
    font-size: 0.9em;
  }
  .content h1 {
    font-size: 2.7rem;
  }

  .content p {
    font-size: 1rem;
  }
}
