/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- */


/* ----- Fuente ----- */
@import url("https://fonts.googleapis.com/css?family=Merryweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");


/* ----- Variables ----- */
* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* # Colores */
--body-bg-color: #D2DDF6;
--card-bg-color: #F6F9FF;
--text-color: #12163C;

--blue-color-1: rgb(150, 179, 255);
--blue-color-2: rgb(103, 146, 255);
--blue-color-3: rgb(68, 115, 234);
--blue-color-4: rgb(26, 82, 225);

/* # Tipografia
- Family (title): [Merryweather](https://fonts.google.com/specimen/Merryweather)
- Family (body): [Poppins](https://fonts.google.com/specimen/Poppins) */
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body{
	background-color: var(--body-bg-color);
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}
.container{
	background-color: var(--card-bg-color);
	border-radius: 20px;
	width: 50%;
	height: 50%;
	padding: 20px 40px;
}

.card{
	width: 100%;
	height: 100%;
	border:1px solid red;
}

.card__header{
	width: 100%;
	font-family: 'Merryweather';
	padding-bottom: 20px;
}

.card__title{
	margin: 0;
	font-size: 30px;
	font-weight: bold;
	padding: 10px 0px;
}

.card__subtitle{
	display: flex;
	align-items: center;
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 500;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px; /* Esto controla la distancia del punto con respecto al texto */
}

.section__container{
	border: 1px dashed darkgoldenrod;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

#myChart{
	width: 200px;
	height: 200px;
}

.section__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.center-text {
	font-family: 'Poppins';
	text-align: center;
    position: absolute;
    top: 53%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 16px; 
    color: black; 
    z-index: 2;
	font-weight: 700;
}

.footer{
	width: 100%;
	display: flex;
	justify-content: end;
	padding: 10px 20px;
}
.see-more{
	color:var(--blue-color-3);
	font-weight: bold;
}