/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ......................... 11
2. Variables ...................... 15
3. Estilos generales .............. 33
-------------------- */


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');


/* ----- Variables ----- */
:root {
	/* --- colores primarios --- */
	--yellow-color: hsl(47, 88%, 63%);

	/* --- colores neutrales --- */
	--white-color: hsl(0, 0%, 100%);
	--grey-color: hsl(0, 0%, 50%);
	--black-color: hsl(0, 0%, 7%);

	--primary-font-family: 'Figtree', sans-serif;	
	--lh-text: 22px;
	--font-size: 16rem;
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
	font-family: var(--primary-font-family);
	background-color: var(--yellow-color);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

/* ------------------------
Diseño: Frontend Mentor🎨
Desarrollo: Frontend Club🔥
--------------------------- */
.container {
    border: solid black 1px;
    border-radius: 15px;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 8px 7px 1px;
}

p, header img {
    max-width: 310px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.Learning {
    background-color: var(--yellow-color);
    border-radius: 0px;
    width: 70px;
    padding: 10px;
    font-size: .9rem;
	font-weight: bold;
    
}

article h2  {
    margin-bottom: 20px;
    font-weight: 800;
    cursor: pointer;
	transition: all ease 0.5s;
}

h2:hover {
    color: var(--yellow-color);
}

.date{
	opacity: .7;
	font-size: .9rem;
}

article p {
    opacity: 0.5;
    
}

h2:focus {
    color: hsl(47, 88%, 63%);
}

h2::after {
    content: '';
    color: green;
    width: 200px;
}

footer {
    display: flex;
	align-items: center;
	justify-content: flex-start;
}

footer img {
    width: 30px;
}

a {
    text-decoration: none;
	color: var(--black-color);
	font-size: .9rem;
	margin-left: 10px;
    font-weight: 700;
	transition: all ease .5s;
}

a:hover{
	color: var(--yellow-color);
}

@media  only screen and (max-width: 320px) {
	.container {
	 width: 90%;
	 height: 80vh;
	 font-size: 12px;
	}
 
	header img {
	 width: 100%;
	}
 }