/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth@0,75..100;1,75..100&display=swap');

/* ----- Variables ----- */
:root{
    /* ### Colores primarios */
--Violet: hsl(257, 40%, 49%);
--Soft-Magenta: hsl(300, 69%, 71%);

/* ### Tipografia */
/* ### Headings */
/* - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 600 */

/* ### Body
- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400 */
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/bg-desktop.svg);
}

/* SECCION 1 */
.section1{
    height: 730px;
    background-color: antiquewhite;
}

h1{
    font-family: 'Poppins', sans-serif;
}




.section2{
    background-color: aquamarine;
}
  
  