/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
/* ----- Fuente ----- */
*{
    font-size: 15px;
    font-family: 'League Spartan',sans-serif;
    list-style: none;
}

/* ----- Variables ----- */
:root{

/* ### Colores primarios */
--Very-Dark-Magenta: hsl(300, 43%, 22%);
--Soft-Pink: hsl(333, 80%, 67%);

/* ### Colores neutrales */
--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);

}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body{
    min-height: 100vh;
    padding: 30px;
    display: grid;
    place-content: center;
    background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto;
    background-position:top 0 left 0, bottom 0 right 0;
}

.container{
    margin-top: 3rem;
}
.card-top-left{
    text-align: center;
}

h1{
    font-size: 40px;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
    line-height:35px;
}

.card-top-left p{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Dark-Grayish-Magenta);
}

.bg-review{
    background-color: var(--Light-Grayish-Magenta);
    padding: 5px;
    border-radius:10px;
    
}

.bg-review li{
    text-align: center;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    padding: 15px;
    font-size: 1.3rem;
}

.bg-review span{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* Cards reviews */
.card-1{
    background-color: var(--Very-Dark-Magenta);
    border-radius: 10px;
    padding: 30px;
}

.card-header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.names span{

}